#toc-content {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}

#toc-toggle {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle:hover {
  text-decoration: none;

}

#toc-content1 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  padding-left: 3%;
}

#toc-toggle1 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle1:hover {
  text-decoration: none;

}

#toc-content2 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  padding-left: 3%;
}

#toc-toggle2 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle2:hover {
  text-decoration: none;

}

#toc-content3 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  padding-left: 3%;
}

#toc-toggle3 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle3:hover {
  text-decoration: none;

}

#toc-content4 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}

#toc-toggle4 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle4:hover {
  text-decoration: none;

}

#toc-content5 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}

#toc-toggle5 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle5:hover {
  text-decoration: none;

}

#toc-content6 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}

#toc-toggle6 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle6:hover {
  text-decoration: none;

}

#toc-content7 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle7 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle7:hover {
  text-decoration: none;
}

#toc-content8 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle8 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle8:hover {
  text-decoration: none;
}

#toc-content9 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle9 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle9:hover {
  text-decoration: none;
}

#toc-content10 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle10 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle10:hover {
  text-decoration: none;
}

#toc-content11 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle11 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle11:hover {
  text-decoration: none;
}

#toc-content12 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle12 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle12:hover {
  text-decoration: none;
}

#toc-content13 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle13 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle13:hover {
  text-decoration: none;
}

#toc-content14 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle14 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle14:hover {
  text-decoration: none;
}

#toc-content15 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle15 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle15:hover {
  text-decoration: none;
}

#toc-content16 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle16 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle16:hover {
  text-decoration: none;
}

#toc-content17 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle17 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle17:hover {
  text-decoration: none;
}

#toc-content18 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle18 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle18:hover {
  text-decoration: none;
}

#toc-content19 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle19 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle19:hover {
  text-decoration: none;
}

#toc-content20 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle20 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle20:hover {
  text-decoration: none;
}

#toc-content30 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

#toc-toggle30 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius: 25px;
  margin-right: 1%;
}

#toc-toggle30:hover {
  text-decoration: none;
}