/* 결과1 */

/* 맛집 */
#toc-content1 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 62vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle1 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle1:hover {
  text-decoration: none;
}

/* 영상 */
#toc-content {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}
#toc-toggle {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle:hover {
  text-decoration: none;
}

/* 숙소 */
#toc-content3 {
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle3 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle3:hover {
  text-decoration: none;
}

/* 결과2 */
#toc-content4{
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 62vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle4 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle4:hover {
  text-decoration: none;
}

/* 영상 */
#toc-content5 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}
#toc-toggle5 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle5:hover {
  text-decoration: none;
}

/* 숙소 */
#toc-content6{
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle6 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle6:hover {
  text-decoration: none;
}

/* 결과3 */
#toc-content7{
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 62vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle7 {
  background-color: #77cdd3;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle7:hover {
  text-decoration: none;
}

/* 영상 */
#toc-content8 {
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 10vh;
  text-align: center;
}
#toc-toggle8 {
  background-color: #6394A1;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle8:hover {
  text-decoration: none;
}

/* 숙소 */
#toc-content9{
  overflow: scroll;
  display: none;
  background-color: #e9ecef;
  height: 65vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}
#toc-toggle9 {
  background-color: #B8B783;
  cursor: pointer;
  color: #fff;
  font-size:20px;
  display: inline-block;
  font-family: "jua";
  font-size: 1.2vw;
  width: 10vw;
  height: 5vh;
  padding-top: 3vh;
  text-align: center;
  border-radius:25px ;
  margin-right: 1%;
}
#toc-toggle9:hover {
  text-decoration: none;
}